<div ng-controller="Nav as that">
	﻿<nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-header">
            <a ng-click="that.navClick('/')" class="navbar-brand"><div title="{{that.logoTitle}}" class="home-logo"></div></a>
            <a class="btn navbar-btn navbar-toggle" ng-model="that.collapsed" ng-click="that.collapsed=!that.collapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div class="navbar-collapse" ng-show="that.collapsed">
            <div class="pull-right navbar-logo">
                <ul class="nav navbar-nav pull-right">
                    <li class="fade-selection-animation" ng-class="that.isCurrent(r)"
                    ng-repeat="r in that.navRoutes track by r.id">
                    	<a ng-click="that.navClick(r.url)" ng-bind-html="r.config.settings.content"></a>
                	</li>
                    <li>
                        <a href="http://the-vegan.org"><i class="fa fa-wordpress"></i> {{that.veganBlogTxt}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>	
    <div id="lang-choice">
        <nav>
            <ul>
                <li ng-repeat="l in that.langs" ng-click="that.chooseLang(l)" ng-class="{'active': that.activeLang == l }">{{l}}</li>
            </ul>
        </nav>
    </div>
</div>