.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  *zoom: 1; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul li {
    margin: 0;
    padding: 0; }

img {
  height: auto;
  max-width: 100%; }

body {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  color: #888;
  background: url('http://subtlepatterns.com/patterns/debut_light.png'); }

/* bootstrap overridden START*/
.navbar-inverse {
  background-color: #286090; }

.navbar-inverse .navbar-brand {
  color: #C8E600; }

.navbar-inverse .navbar-toggle {
  border-color: #286090; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #C8E600; }

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background: #C8E600; }

.navbar-inverse .navbar-toggle:hover .icon-bar {
  background-color: #fff; }

.navbar-inverse .navbar-nav > li > a {
  color: #ECF0F1;
  font-family: 'Play', sans-serif; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #C8E600; }

.alert {
  padding: 5px;
  font-size: 14px;
  margin-bottom: 5px; }

.alert-warning {
  color: #bbb; }

.list-group {
  margin-bottom: 10px; }

.row {
  margin-right: 0;
  margin-left: 0; }

.btn {
  border-radius: 0; }

.label-success {
  background-color: #C8E600; }

.label-default {
  background-color: #E8E8E8;
  color: #999; }

.btn-success {
  color: #fff;
  background-color: #9AC82B;
  border-color: #749621; }

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #89B324;
  border-color: #749621; }

/* bootstrap overridden END*/
#content {
  padding: 10px; }

h2 {
  font-family: 'Comfortaa', cursive;
  color: #999; }

.page-splash-message {
  margin-top: 50px;
  font-size: 60px;
  text-align: center; }

.page-splash-message i {
  color: #C8E600;
  animation: spin 1.5s linear infinite;
  -webkit-animation: spin 1.5s linear infinite; }

.list-group-item a {
  font-weight: bold; }

.brand-title .fa {
  margin-top: -5px;
  font-size: 1.8em; }

/* nav */
#lang-choice {
  margin-top: 50px;
  float: right; }
  #lang-choice ul li {
    display: inline-block;
    padding: 0 5px;
    line-height: 12px;
    border-left: 1px dotted #ccc; }
    #lang-choice ul li:first-child {
      border-left: none; }
    #lang-choice ul li:hover {
      cursor: pointer;
      color: #C8E600; }
    #lang-choice ul li.active {
      color: #ddd; }
      #lang-choice ul li.active:hover {
        color: #ddd;
        cursor: auto; }

/* nav */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8); }

  50% {
    -webkit-transform: rotate(180deg) scale(1); }

  100% {
    -webkit-transform: rotate(360deg) scale(0.8); } }

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(0.8); }

  50% {
    transform: rotate(180deg) scale(1); }

  100% {
    transform: rotate(360deg) scale(0.8); } }

#home-container .radio-filters {
  margin-bottom: 3px; }
  #home-container .radio-filters input[type="radio"] {
    display: none; }
#home-container .additional-info {
  overflow: hidden; }
#home-container .clear-filters {
  margin-bottom: 2px; }
  #home-container .clear-filters .btn.btn-default {
    color: #999;
    margin-bottom: 2px; }
#home-container .search-container, #home-container .clear-filters {
  position: relative;
  display: inline-block;
  vertical-align: top; }
#home-container .search-container .glyphicon-search {
  float: left;
  top: -24px;
  left: 4px;
  opacity: 0.2; }
#home-container .search-container .form-control {
  padding-left: 20px; }
#home-container .list-group-item {
  padding: 5px;
  background: rgba(255, 255, 255, 0.8); }
#home-container .list-group-item:first-child, #home-container .list-group-item:last-child {
  border-radius: 0; }
#home-container .places-list {
  width: 100%; }
  #home-container .places-list > div:nth-child(2n) {
    background: rgba(255, 255, 255, 0.3); }
  #home-container .places-list .additional-info {
    margin: 0 5px;
    height: 65px; }
    #home-container .places-list .additional-info li {
      display: inline-block;
      padding: 5px;
      color: #999; }
      #home-container .places-list .additional-info li i {
        margin-right: 5px; }
  #home-container .places-list .label {
    vertical-align: text-top; }
  #home-container .places-list .place-name {
    font-family: 'Comfortaa', cursive; }
    #home-container .places-list .place-name a {
      color: #4CA4D2; }
      #home-container .places-list .place-name a:hover {
        color: #337ab7; }

/* SLiding animaton of places START */
.animate-repeat.ng-move, .animate-repeat.ng-enter, .animate-repeat.ng-leave {
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; }

.animate-repeat.ng-leave.ng-leave-active, .animate-repeat.ng-move, .animate-repeat.ng-enter {
  transform: translate3d(-400%, 0, 0); }

.animate-repeat.ng-leave, .animate-repeat.ng-move.ng-move-active, .animate-repeat.ng-enter.ng-enter-active {
  transform: translate3d(0, 0, 0); }

.ng-move-stagger, .ng-enter-stagger {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

/* SLiding animaton of places END */
.place-container i {
  margin-right: 5px;
  color: #C8E600; }
.place-container .featured-img-container {
  text-align: center; }

.gmap {
  height: 300px; }

.raiting-container .rating {
  margin: 0;
  padding: 0;
  display: inline-block; }
  .raiting-container .rating li {
    padding: 1px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    list-style-type: none;
    display: inline-block;
    cursor: pointer; }
    .raiting-container .rating li i {
      color: #CFCFCF; }
    .raiting-container .rating li.filled i {
      color: #C8E600; }
.raiting-container span {
  font-size: 12px;
  color: #CFCFCF; }
