.get-position-btn {
    //display: none;
    position: absolute;
    top: 85px;
    right: 8px;
    background: none;
    border: none;
    font-size: 40px;
    color: #286090;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0.8;

    &.active {
        //display: block;
        animation: pulse 1.5s linear infinite;
        -webkit-animation: pulse 1.5s linear infinite;
        opacity: 0.9;
    }
}

.mgmap {
    min-height: 300px;
}

#map-places-select {
    position: absolute;
    top: 58px;
    left: 10px;

    select {
        padding: 0;

        option {
            &:nth-child(2n) {
                color: #666;
            }
        }
    }
}

//animations
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.8);
    }

    50% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.8);
    }
}


@keyframes pulse {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}