<div ng-controller="Home as that">
	<header>
		<h2 class="page-header">{{ that.homeTitle }}</h2>
	</header>
	<section>	
		<div class="btn-group radio-filters">
			<label for="town-1" class="btn btn-primary" ng-class="{'active': that.town == '' }"><input id="town-1" ng-model="that.town" type="radio" name="towns" value="">All</label>
			<label for="town{{$index}}" ng-repeat="t in that.towns" class="btn btn-primary" ng-class="{'active': that.town == t }"><input id="town{{$index}}" ng-model="that.town" type="radio" name="towns" value="{{t}}">{{t}}</label>
		</div>
		<div class="search-container">
			<input ng-model="search" value="{{that.town}}" class="form-control" placeholder="Search by keyword...">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="p in that.places | orderBy: 'name' | filter: that.town | filter: search ">
				<a href="#/places/{{p.id}}"><span>{{ p.name }}</span></a>
			</li>
		</ul>
	</section>
</div>