#home-container {
	.radio-filters {
		margin-bottom: 3px;

		input[type="radio"] {
			display: none;
		}
	}

	.additional-info {
		overflow: hidden;
	}

	.clear-filters {
		margin-bottom: 2px;

		.btn.btn-default {
			color: #999;
			margin-bottom: 2px;
		}
	}

	.search-container, .clear-filters {	
		position: relative;
		display: inline-block;
		vertical-align: top;
	}

	.search-container {
		.glyphicon-search {
			float: left;
			top: -24px;
			left: 4px;
			opacity: 0.2;
		}

		.form-control {
			padding-left: 20px;
		}
	}

	.list-group-item {
		padding: 5px;
		background: rgba(255,255,255,.8);
	}

	.places-list {
		width: 100%;

		> div:nth-child(2n){
			background: rgba(255,255,255,.3);
		}

		.additional-info {
			margin: 0 5px;
			height: 65px;

			li {
				display: inline-block;
				padding: 5px;
				color: #999;

				&:first-of-type {
					padding: 5px 0;	
				}

				i{
					margin-right: 5px;	
				}
			}
		}

		.label {
			vertical-align: text-top;
		}

		.place-name {
			font-family: 'Comfortaa', cursive;

			a {
				color: #4CA4D2;

				&:hover {
					color: #337ab7;
				}
			}
		}
	} 
}

/* SLiding animaton of places START */
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all ease-in-out 0.5s;
  transition:all ease-in-out 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  transform: translate3d(-400%,0,0);
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  transform: translate3d(0,0,0);
}

.ng-move-stagger,
.ng-enter-stagger{
	-webkit-transition-delay:0.05s;
 	transition-delay:0.05s;
}
/* SLiding animaton of places END */