.place-container {
    i {
        margin-right: 5px;
        color: #C8E600;
    }

    .featured-img-container {
        text-align: center;
    }

    .place-w-time {
        font-size: 14px;
    }
}